<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head"></head>
<body>

	<header th:replace="plantilla/plantilla :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/compra/listar}" class="btn btn-light">&laquo;
						volver</a>
				</h4>


				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Datos Compra'"></li>
					<li class="list-group-item" th:text="'Folio' + ${compra.id}"></li>
					<li class="list-group-item"
						th:text="'Descripcion' + ${compra.descripcion}"></li>
					<li class="list-group-item" th:text="'Fecha' + ${compra.createAt}"></li>
				</ul>

				<table th:if="${not #lists.isEmpty(compra.items)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="linea: ${compra.items}">
							<td th:text="${linea.producto.nombre}"></td>
							<td th:text="${linea.producto.precio}"></td>
							<td th:text="${linea.cantidad}"></td>
							<td th:text="${linea.calcularImporte()}"></td>
						</tr>
					</tbody>

				</table>

				<h5>
					Total factura <span th:text="${compra.total}"></span>
				</h5>

				<p th:text="${compra.observacion}"
					th:if="${not #strings.isEmpty(compra.observacion)}"></p>
				<h4 th:if="${#strings.isEmpty(compra.observacion)}"
					th:text="'No tiene observaciones'"></h4>

			</div>
		</div>

	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>